body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
    max-width: 800px;
    margin: auto;
}

header h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
}

p, span{
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: justify;
        max-width: 800px;
        margin: 20px auto;
}

header img {
    width: 150px;
    margin-left: -370px;
}

.instagram {
    position: absolute;
    right: -310px;
    top: 20px;
    margin-top: 10px;
    align-items: center;
    gap: 5px;
}

.instagram img {
    width: 40px;
    height: 40px;
}

.instagram a {
    color: white;
    text-decoration: none;  
    font-style: italic;
    
}

.instagram a:hover {
    color: red;
    transition: 0.3s    ;
}



.menu {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    justify-content: center;
    margin-top: 30px;
}


.menu a {
    text-decoration: none;
    color: white;
}
.menu a:hover{
    color: #00FFCC;
    transition: 0.3s;
}

.equipes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

.pac, .intervencao {
    color: white;
    width: 45%;
    text-align: justify;
}

.barra {
    font-size: 40px;    
    color: gray;
    display: inline-block;
    transform: scaleY(2.5);
    transform-origin: center;
    padding: 20px 0;
    
}

.escolha{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

.denuncia {
    align-items: center;
    text-align: justify;
    justify-content: center;
    border-top: 1px solid gray;
    padding-top: 20px;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
    max-width: 600px;
}

.denuncia span{
    color: red;
}

.facanacaveira{
    display: block;
    width: 800px;
    height: auto;
    margin: auto;

}

.formulario {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 50px;
}

.formulario h3 {
    text-decoration: underline;
    text-align: left;
}

footer {
    text-align: center;
    color: gray;
    margin-top: 30px;
    border-top: 1px solid gray;
    max-width: 835px;
    margin: auto;
}